button {
  font-family: 'Seven Segment', sans-serif;
  width: 100px;
  height: 100px
}

.break {
  margin: 20px 0 20px 0 ;
  height: 5%;
  border-width: 8px;
  border-style: dashed;
  border-image: linear-gradient(90deg,red, rgba(50,0,0,1), red, rgba(50,0,0,1),red) 1 1%;
}

#dashboard {
  margin: 0 auto;
  display: flex;
  border-radius: 30% 30% 10% 10%;
  justify-content: space-evenly;
  border: 3px solid red;
  background: linear-gradient(#303030, #0c0c0c, #0c0c0c, #0c0c0c, #303030);
  width: min-content;
  padding: 10px;
}

.smallGauge {
  height: 300px;
}

.iconDiv{
  position: relative;
  display: flex;
}

.bigGauge {
  height: 400px;
}

#dashboardWrapper {
  background: linear-gradient(to bottom, #d0d0d0, #a0a0a0);
  padding: 30px 0;
  margin: 0 90px;
  border-radius: 30% 30% 10% 10%;
}

#controls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.sliderControl {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 3px solid gray;
  padding: 5px;
}

.buttonControl {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.buttonControl button {
  height: 30px;
  width: 70px;
  border-radius: 5px;
}

.smallGauge:nth-child(1){
  overflow: hidden;
  margin-right: -12%;
  margin-top: 10%;
}

.smallGauge:nth-child(5){
  overflow: hidden;
  margin-left: -12%;
  margin-top: 10%;
}

.bigGauge:nth-child(2){
  margin-right: -20px;
}

#fuelIconDiv {
  position: relative;
  left: 55%;
  bottom: 30%;
  z-index: 2;
}

#tempIconDiv {
  position: relative;
  z-index: 2;
  bottom: 30%;
  left: 27%;
}

#oilIconDiv {
  position:relative;
  z-index: 5;
  left: 25%;
  bottom: 24%;
}

#batteryIconDiv {
  position:relative;
  z-index: 5;
  left: 65%;
  bottom: 35%;
}

#engineIconDiv {
  position:relative;
  z-index: 5;
  left: 37%;
  bottom: 45%;
}

#snowIconDiv {
  position:relative;
  z-index: 5;
  left: 52%;
  bottom: 65%;
}

#glowPlugIconDiv {
  position:relative;
  z-index: 5;
  left: 37%;
  bottom: 20%;
}

#hoodIconDiv {
  position:relative;
  z-index: 5;
  left: 52%;
  bottom: 40%;
}

#breakIconDiv {
  position:relative;
  z-index: 5;
  left: 50%;
  bottom: 65%;
}

#seatbeltIconDiv {
  position: relative;
  z-index: 5;
  left: 38%;
  bottom: 55%;
}

#rightArrowDiv {
  position:absolute;
  top:-400%;
  left:50%;
  z-index: 6;
}

#leftArrowDiv {
  position:absolute;
  top:-400%;
  z-index: 5;
}

.arrowIcon{
  aspect-ratio: 1;
  width: 80px;
}

#fuelIcon, #tempIcon, #oilIcon, #batteryIcon, #engineIcon, #breakIcon, #seatbeltIcon, #snowIcon, #glowPlugIcon, #hoodIcon{
  aspect-ratio: 1;
  width: 40px;
}

#mileageDiv{
  position: absolute;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  border-radius: 25px;
  width: 150px;
  right: 44.8%;
  top: 54%;
  aspect-ratio: 2;
  z-index: 6;
  outline: 5px solid silver;
  justify-content: center;
  padding: 0 4px
}

#mileageDiv div{
  width: 100%;
  font-family: 'Seven Segment', sans-serif;
  font-size: 25px;
}
