<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="break">
</div>
<div id="main">
  <div class="navButtonWrapper">
    <a routerLink="/gauges">
      <button class="navButton">
        <span class="material-symbols-outlined">
        speed
        </span>
      </button>
    </a>
  </div>
  <div class="navButtonWrapper">
    <a routerLink="/dashboard">
      <button class="navButton">
        <span class="material-symbols-outlined">
        space_dashboard
        </span>
      </button>
    </a>
  </div>
</div>
